.box {
    background-color: rebeccapurple;
    width: 150px;
    height: 150px;
    margin: 30px;
}

/* marginCollpase ---> se refiere a que los margenes entre elementos hermanos, los margenes no se suman, sino que se colapsan, tomando siempre el margin mas alto */