* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    /* clip-path: circle(100% at 0 0); */
    clip-path: ellipse(40% 60%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    border: 3px solid black;
}
