body {
    margin: 0;
    font-family: sans-serif;
    background-color: #bbb;
}

/* OVERFLOW */

.box {
    width: 220px;
    height: 220px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid black;
    overflow: auto;
}

/* TEXT FLOW */

.box2 {
    width: 220px;
    height: 220px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #0006;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1 {
    text-wrap: balance;
}