* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.box {
    border: 6px solid #000;
    padding: 0 40px;
    height: 100dvh;
}

p::first-letter {
    initial-letter: 2 1;
    color: blueviolet;
    padding: 2px;
    font-family: cursive;
}
