body {
    padding: 20px;
}

h1::first-letter {
    color: red;
    font-size: 2em;
    letter-spacing: -8px;
}

div::first-line {
    color: #46f;
    font-weight: 700;
}

li::selection {
    background-color: #f46;
    color: #ff0;
}

input::placeholder {
    color: #45f4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


li::marker {
    color: aquamarine;
    content: "🔘";
}

.checked::marker {
    color: aquamarine;
    content: "✅";
}

li:is(.fail)::marker {
    color: aquamarine;
    content: "❌";
}

li::before {
    content: "Elemento: ";
    color: #46f;
}

li::after {
    content: " Pamelachu";
    color: #f46;
}