body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    /* grid-template-columns: 1fr auto 2fr 1fr; */
    grid-template-columns: repeat(2, 1fr minmax(200px, 400px)) ;
    grid-template-rows: 100px 200px;
}

.grid-item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}