* {
  box-sizing: border-box;
}

body,
div,
ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  --bg-color: color-mix(in srgb, #48e 50%, #fff);
  --text-color: #282828;
  --dark-color: #48e;
  --faq-color: #fff;
  background-color: var(--bg-color);
  font-family: montserrat;
}

.faq {
    max-width: clamp(300px, 100%, 900px);
    margin: auto;
}

.faq summary {
    cursor: pointer;
    user-select: none;
    position: relative;
}

.faq details {
    background-color: var(--faq-color);
    margin: 7px;
    padding: 7px;
}

.content {
    padding: 5px 10px;
    border-top: 1px solid var(--bg-color);
    padding-top: 5px;
    margin: 10px;
    margin-bottom: 0;
    font-size: .8rem;
    animation: aparecer 1s;
}

summary::marker {
    content: '';
}

summary::before {
    content: "+";
    color: var(--bg-color);
    position: absolute;
    right: 0;
    font-weight: 700;
}

details[open] summary::marker {
    content: ""
}

details[open] summary::before {
    content: "-";
    color: var(--bg-color);
    position: absolute;
    right: 0;
    font-weight: 700;
}

details b {
    background-color: var(--dark-color);
    padding: 2px 4px;
    color: var(--faq-color);
}

@keyframes aparecer {
    from {
        opacity: 0;
        translate: 0 -20px;
        border-top: 1px solid transparent;
    }

    50% {
        border-top: 1px solid transparent;
    }

    to {
        opacity: 1;
        translate: 0 0;
        border-top: 1px solid var(--bg-color);
    }
}
